@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    /* position: relative;
    Irei usar a propriedade display flex */
    display: flex; 
    justify-content: center;
    height: 100vh;
}

section#telefone {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    Irei usar a propriedade display flex */
    display: flex;
    align-self: center;
    justify-content: center;    
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    display: flex;
    align-self: center;
    width: 267px;
    height: 474px;
}